@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Miniver&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Kaisei Decol",serif;
}

:root{
    
  --smooth-ease: cubic-bezier(0.74, 0, 0.3, 1);
  --text-muted: #827B7B;

}


/* whole page stylin*/
body{
    background: #FDF0E0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    display: block;
    width: 100%;
}

/*Navbar styling*/

header{
    width: 100%;
    z-index:8;
    
}

header .top-row{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    
    padding: 16px 32px ;
    
    
}

header .top-row .mid-zone{
    display: flex;
    
    justify-self: center;

}
.top-row .mid-zone .nav-logo-img{
    align-items: center;
    width: 250px;
    margin-left: 2px;

}
header .top-row .left-zone{
    display: flex;
    justify-self: start;
    border-bottom :2px solid #83573D;
    margin-top: 80px;
  

}
.top-row .left-zone .search-bar{
    display: flex;
     align-items: center;     
     gap: 8px;

  
    
}
input{
    padding:0 0;
    border: none;
  outline: none;
  background: transparent;

  padding: 0;             
  margin: 0;
  margin-bottom: 0%;

  line-height: 1;          
  font-size: 16px;         
  color: var(--text-muted);
  
  
}

.top-row .left-zone .search-bar .search-icon{
     width: 20px;
    height: 20px;
    display: block;
}


header .top-row .right-zone{
    display: flex;
    justify-self: end;
    margin-top: 80px;
   
}

.top-row .right-zone .icons{
    display: flex;
}
.top-row .right-zone .icons .icon-image{
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    transition: fill 1s ease-in-out;
    cursor: pointer;
    color: #ffffff;
}
.top-row .right-zone .icons .icon-image:hover{
    fill: #83573D;
}


/*main nav bar*/

header .navbar{
    display: flex;
    padding:20px;
    align-items: center;
    justify-content: center;
   
    background: white;
}

header .navbar .nav-menu{
    display:flex;
    gap:35px;
    align-items: center;
    
}

.navbar .nav-menu .nav-link{
    display: inline-block;
    position: relative;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    
}
.navbar .nav-menu .nav-link::after{
    content:"";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom:-12px;
    left:0;
    background-color: #827B7B;
    transform-origin: bottom right;
    transition: transform .25s ease-out;

}
.navbar .nav-menu .nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*hero section*/

.hero-section{
    display: flex;
    padding: 140px 0 100px;

    max-height: 100vh;

}
.hero-section .hero-section-content{
    display: flex;
    align-items: center;
    
    width: 1236px;
    margin: 0 auto;
    gap: 90px;
    }

.hero-section .hero-section-content .content{
display: flex;
width: 526px;


align-items: center;
flex-shrink: 0;


}
.hero-section .hero-section-content .content .content-brief{
        color: #543421;
    font-feature-settings: 'dlig' on;
    font-size: 60px;
    font-weight: 700;
    line-height: 101px; 
    letter-spacing: 4px

}
.hero-section .hero-image-slider{
    
    width: 600px;              
    height: 410px;
    overflow: hidden;
    border-radius: 16px;
    
}
.hero-section .hero-image-slider .hero-image-track{
     display: flex;
    height: 100%;
    
    transition: transform .8s ease-in-out;
}

.hero-image-slider .hero-image-track .slide{
      width: 100%;
    flex-shrink: 0;
    padding: 0 25px;          
   box-sizing: border-box; 
}
.marquee-container {
  overflow: hidden; 
  display: flex;
  width: 100%;
}

.marquee-track {
    padding: 40px;
  display: flex;
  white-space: nowrap; 
  animation: scrolling 15s linear infinite; 
}

.marquee-track img {
  
  margin: 0 10px; 
  height: 80px; 
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Moves the track by the full width of one set */
  }
}

.container::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
  z-index: 1;
  
}
.container {
  position: relative; 
  text-align: center;
  color: white; 
  
  
  width: 100%;
  height: 65vh;
  
  
}
.container .image-slider{

    
 width: 100%;
  height: 100%;
  overflow: hidden;
    
}
.container .image-slider .img-track{
    
    
    
    display: flex;
  height: 100%;
  transition: transform 2s ease-in-out;

}
.container .image-slider .img-track .slide{
    width: 100%;
    padding: 0;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.container .image-content{
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  top:25%;
  text-align: center;

  gap: 20px;
  padding: 0 20px;
}



.image-content .image-heading {
    width:25%;
    
    


}
.image-content .image-heading h{
    font-size: 36px;
    font-weight: 700;
    line-height: 21px;
}
.image-content .image-text{
    width:40%;
    
   
}
.container .image-buttons{
    position: absolute;
  inset: 0;
  z-index: 2;
  display:flex;
  justify-content: center;
  
    gap:20px;
    height: 40px;
    top:65%;
    align-items: center;
    


  


}

.image-buttons .shop-now{
   padding: 10px 16px;
    border:2px solid transparent;
    color:#FFFFFF;
    background:#543421;
    display: inline-block;
   
    
    
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
   
    border-radius: 20px;
    font-feature-settings: 'dlig' on;
    text-overflow: ellipsis;
    transition: transform .3s ease;
    
    


}

.image-buttons .learn-more{
    padding: 10px 16px;
    border:2px solid transparent;
    font-weight: 700;
    
    border-radius: 20px;
    background:black;
    font-family: "Plus Jakarta Sans";
    font-feature-settings: 'dlig' on;
    text-overflow: ellipsis;
    color: #1C170D;
    background:#F5F0E5 ;
    display: inline-block;
    transition: transform .3s ease;
    

}
.image-buttons .shop-now:hover{
    transform: translateY(-4px);
    
   
    
}
.image-buttons .learn-more:hover{
     transform: translateY(-4px);

}
.collection{
    padding: 50px 0 20px;
    background: linear-gradient(180deg, var(--bg-primary, #FDF0E0) 0%, #f5d9ca 99.38%);;
}

.collection .collection-heading{
    padding:51px;
    text-align: center;
    color: #B27A59;
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: "Kaisei Decol";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; 

}

.collection .collection-content .collection-images{
    display: flex;
    flex-wrap: wrap;
    padding: 120px;
    justify-content: center;
     gap:100px;
     
}

 .collection-images .collection-image-wrapper{
    border-radius: 10px;
    position: relative;     
    overflow: hidden; 
    background: linear-gradient(145deg, rgba(232, 193, 170, 0.60) 2.9%, rgba(138, 98, 74, 0.60) 70.39%);
    cursor: pointer;
}

 .collection-images .collection-image-wrapper::after{
     content: "";
    position: absolute;
    inset: 0;
    
    background: linear-gradient(145deg, rgba(232, 193, 170, 0.60) 2.9%, rgba(138, 98, 74, 0.60) 70.39%);
    
    opacity: 0;
    
   clip-path: inset(100% 0 0 0 round 10px);
    transition: clip-path 200ms cubic-bezier(0.74, 0, 0.3, 1);
   
    z-index: 1;
}
.collection-images .collection-image-wrapper:hover::after{
    opacity: .8;
    clip-path: inset(0 0 0 0 round 10px);
    
    
}

.collection .collection-image-wrapper .text{
    display: flex;
    align-items: center;
    position: absolute;
    inset: 0;
    z-index: 2;
    justify-content: center;
    font-size: 32px;
    opacity: 0;
    color: white;
    transform: scale(0.96);
    transition:
        opacity 300ms ease,
        transform 450ms cubic-bezier(0.74, 0, 0.3, 1);
    
}

.collection .collection-image-wrapper .text:hover{
    opacity:1;
     transform: scale(1);
    
}


/*top picks*/

#perfume-section-wrapper {
    width: 100%;
    padding: 80px 0;
    background-color: #FDF6EC;
    
    background-image: url("assets/FINAL.png"); 
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}



#perfume-section-wrapper .perfume-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

#perfume-section-wrapper .perfume-heading {
    text-align: center;
    font-family: "Kaisei Decol", serif;
    font-size: 40px;
    font-weight: 400;
    color: #83573D;
    margin-bottom: 60px;
    text-transform: uppercase;
}

#perfume-section-wrapper .perfume-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* --- left side */
#perfume-section-wrapper .perfume-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


#perfume-section-wrapper .perfume-text-swiper {
    width: 100%;
    height: 180px ;   /* important height*/
    margin-bottom: 25px;
}

#perfume-section-wrapper .perfume-text-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#perfume-section-wrapper .perfume-title {
    font-family: "Kaisei Decol", serif;
    font-size: 36px;
    font-weight: 500;
    color: #1C170D;
    line-height: 1.2;
    margin: 0;
   
    
    white-space: normal;
}

#perfume-section-wrapper .perfume-price {
    font-family: "Kaisei Decol", serif;
    font-size: 36px;
    font-weight: 500;
    color: #000;
    margin-top: 10px;
    line-height: 1;
}

/* --- BUTTONS --- */
#perfume-section-wrapper .perfume-actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    margin-bottom: 20px;
}

#perfume-section-wrapper .perfume-btn-buy {
    background: #7F573F;
    color: #FFF;
    border: 1px solid #7F573F ;
    border-radius: 10px;
    padding: 12px 45px;
    font-family: "Kaisei Decol", serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease-in-out;
    
    
}

#perfume-section-wrapper .perfume-btn-view {
    background: transparent;
    color: #83573D;
    border: 1px solid #83573D;
    border-radius: 10px;
    padding: 15px 50px;
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    transition: all .3s ease-in-out;
   
}

#perfume-section-wrapper .perfume-btn-buy:hover{
    background: transparent;
    color: #7F573F;
}
#perfume-section-wrapper .perfume-btn-view:hover {
     background: #83573D;
    color: #ffffff;
    
}
#perfume-section-wrapper .perfume-btn-view:hover svg path {
    fill: #FFF;
    transition: fill 0.3s ease;
}


/* --- PAGINATION --- */
#perfume-section-wrapper .perfume-pagination {
    position: static ;
    text-align: left ;
    margin-top: 10px;
}

#perfume-section-wrapper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #D9D9D9;
    opacity: 1;
    margin-right: 8px ;
}

#perfume-section-wrapper .swiper-pagination-bullet-active {
    background: #83573D;
}

/* --- RIGHT SIDE (Images) --- */
#perfume-section-wrapper .perfume-right {
    width: 50%;
    position: relative;
    height: 450px;
}

#perfume-section-wrapper .perfume-image-swiper {
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

#perfume-section-wrapper .perfume-image-swiper .swiper-slide {
    width: 320px; /* Card width */
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.6s ease, opacity 0.6s ease;
    opacity: 0.5;
    transform: scale(0.85);
}

#perfume-section-wrapper .perfume-image-swiper .swiper-slide-active {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

#perfume-section-wrapper .perfume-image-swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
}
#perfume-section-wrapper .perfume-image-swiper img:hover{
    transform: scale(1.5);
}


.seperator{
    height: 10px;
    width: 100%;
    background: #d4916a;
}
/*review*/

.review-section{
    padding:70px 0 100px;
    background-image: url("assets/review.png");
    background-position: center;
    background-size: cover;
    height: 1350px;
   
}
.review-section .review-heading{
    color: #FFF;

text-align: center;
font-feature-settings: 'dlig' on;

font-size: 44px;
font-style: normal;
font-weight: 500;
line-height: 28px;
padding:40px 0 90px;
}
.review-section  .review{
    display: flex;

padding: 10px 10px;
flex-direction: column;
align-items:center;
gap: 60px;



}
.review-section .review .user{
    border-radius: 10px;
background: #FFF;
 width: 1274px;
 justify-content: center;


padding: 10px;
transition: transform .5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.review-section .review .user:hover{
    transform:translateY(-10px);
    filter: drop-shadow(-5px 6px 4px rgba(0,0,0,.25));

}

.review-section .review .user .user-profile{
    padding: 10px;
    display: flex;
    align-items: center;
gap: 12px;
align-self: stretch;

}
.review .user .user-profile .user-name{
    color: #1C170D;

font-feature-settings: 'dlig' on;
font-family: "Kaisei Decol";
font-size: 16px;
font-style: normal;
font-weight: 500;
}
.review .user .user-profile .name-date{
    
    flex-direction: column;
}
.review .user .user-profile .date-review{
    color: #83573D;

font-feature-settings: 'dlig' on;
font-family: "Kaisei Decol";
font-size: 14px;
font-style: normal;
font-weight: 400;
}

.review .user .user-profile .user-image{
    width: 40px;
    height: 40px;
}
.review .user .user-rating{
    padding:12px 10px 12px;
}

.review .user .user-text{
     padding:0 10px 12px;
     color: #1C170D;

font-feature-settings: 'dlig' on;
font-family: "Kaisei Decol";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
align-self: stretch;

}
.review .user .people-reaction{
    display: flex;
    padding:0 10px 12px;
    gap:36px;
    align-items: bottom;
    }
.review .user .people-reaction .like{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.review .user .people-reaction .dislike{
     width: 20px;
    height: 20px;

}

.seperator-line{
    background: linear-gradient(181deg, rgba(138, 98, 74, 0.90) -16.99%, rgba(193, 155, 132, 0.95) 23.35%, rgba(248, 213, 190, 0.90) 67.16%);
   
height: 136px;
margin-top: 61px;

}


.shop-by-brand{
    padding: 90px 0 70px;
    background: rgba(248, 213, 190, 0.90);

}

.shop-by-brand .section-title{
    padding :20px;
    color: #83573D;

    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: "Kaisei Decol";
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 21px;
text-transform: uppercase;
    
    
}


.shop-by-brand .shop-brand-content .brand-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    gap:40px;

    
}

.shop-by-brand .shop-brand-content .brand-image{
    border-radius: 10px;
    position: relative;     
    overflow: hidden; 
    filter: drop-shadow(-8px 9px 4px rgba(0,0,0,.4));
    border-radius: 30px;
    
    cursor: pointer;
}

.shop-by-brand .shop-brand-content .brand-image .shop-brand-box{

    width: 223px;
    height: 178px;
    border-radius: 30px;
    border: 1px solid #000;
    
    position: absolute;
    inset: 0;
    z-index: 2;
    
    background: white;
    opacity:1;
    transition: opacity 450ms cubic-bezier(0.86, 0, 0.16, 0.99);
    filter: drop-shadow(-8px 9px 4px black);
    
    
    
  
    
    
}


.shop-by-brand .shop-brand-content .brand-image .shop-brand-box .brand-logo{
    position: absolute;
    inset: 0;
    z-index: 2;
    width: 140px;
height: 95px;
aspect-ratio: 28/19;
margin-left: 41px;
margin-top: 36px;
opacity: 1;
transition: opacity 450ms cubic-bezier(0.86, 0, 0.16, 0.99);

    
   
  

}

.shop-by-brand .shop-brand-content .brand-image .shop-brand-box .brand-logo:hover,.shop-by-brand .shop-brand-content .brand-image .shop-brand-box:hover{
    opacity: 0;
}


/*ending part*/

.ending-part{
    
    background:rgba(248, 213, 190, 0.90);
   
    
}
.ending-part .section-heading{
    color: #83573D;

text-align: center;
font-feature-settings: 'dlig' on;
font-family: "Kaisei Decol";
font-size: 90px;
font-style: normal;
font-weight: 500;
line-height: 40px;

}
.ending-part .section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:100px 0 100px;
    gap:80px;
}
.ending-part .section-content .section-text{
    color: #1C170D;

text-align: center;
font-feature-settings: 'dlig' on;

font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.ending-part .section-content .explore{
    width: 196px;
height: 81px;

padding: 0 20px;

color: white;
border-radius: 24px;
background: #009963;



text-align: center;
font-feature-settings: 'dlig' on;



font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: 24px;
transition: .3s ease;
}
.ending-part .section-content .explore:hover{
    background: transparent;
    color: #009963;
    border:2px solid #009963;
}

.footer{
    background: rgba(248, 213, 190, 0.90);
    
}

.footer .footer-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:24px;
    padding:40px;
}

.footer .footer-content .first-part{
    display:flex;
    gap:24px;
}

 .footer .footer-content .icons{
    display: flex;
    gap:16px;
    
}