@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Miniver&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Kaisei Decol",serif;
}


/* whole page stylin*/
body{
    background: #FDF0E0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    display: block;
    width: 100%;
}

/*Navbar styling*/

header{
    width: 100%;
    z-index:8;
    
}

header .top-row{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    
    padding: 16px 32px ;
    
    
}

header .top-row .mid-zone{
    display: flex;
    
    justify-self: center;

}
.top-row .mid-zone .nav-logo-img{
    align-items: center;
    width: 250px;
    margin-left: 2px;

}
header .top-row .left-zone{
    display: flex;
    justify-self: start;
    border-bottom :2px solid #83573D;
    margin-top: 80px;
  

}
.top-row .left-zone .search-bar{
    display: flex;
     align-items: center;     /* now works correctly */
     gap: 8px;

  
    
}
input{
    border: none;
  outline: none;
  background: transparent;

  padding: 0;             
  margin: 0;
  margin-bottom: 0%;

  line-height: 1;          /* IMPORTANT */
  font-size: 16px;         /* match design */
  color: var(--text-muted);
  
}

.top-row .left-zone .search-bar .search-icon{
     width: 20px;
    height: 20px;
    display: block;
}


header .top-row .right-zone{
    display: flex;
    justify-self: end;
    margin-top: 80px;
   
}

.top-row .right-zone .icons{
    display: flex;
}
.top-row .right-zone .icons .icon-image{
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    transition: fill 1s ease-in-out;
    cursor: pointer;
    color: #ffffff;
}
.top-row .right-zone .icons .icon-image:hover{
    fill: #83573D;
}


/*main nav bar*/

header .navbar{
    display: flex;
    padding:20px;
    align-items: center;
    justify-content: center;
   
    background: white;
}

header .navbar .nav-menu{
    display:flex;
    gap:35px;
    align-items: center;
    
}

.navbar .nav-menu .nav-link{
    display: inline-block;
    position: relative;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    
}
.navbar .nav-menu .nav-link::after{
    content:"";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom:-12px;
    left:0;
    background-color: #827B7B;
    transform-origin: bottom right;
    transition: transform .25s ease-out;

}
.navbar .nav-menu .nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*hero section*/

.hero-section{
    display: flex;
    padding: 140px 0 100px;

    max-height: 100vh;

}
.hero-section .hero-section-content{
    display: flex;
    align-items: center;
    
    width: 1236px;
      margin: 0 auto;
    gap: 90px;
    }

.hero-section .hero-section-content .content{
display: flex;
width: 526px;


align-items: center;
flex-shrink: 0;


}
.hero-section .hero-section-content .content .content-brief{
        color: #543421;
    font-feature-settings: 'dlig' on;
    font-size: 60px;
    font-weight: 700;
    line-height: 101px; 
    letter-spacing: 4px

}
.hero-section .hero-image-slider{
    
    width: 600px;              
    height: 410px;
    overflow: hidden;
    border-radius: 16px;
    
}
.hero-section .hero-image-slider .hero-image-track{
     display: flex;
    height: 100%;
    
    transition: transform .8s ease-in-out;
}

.hero-image-slider .hero-image-track .slide{
      width: 100%;
    flex-shrink: 0;
    padding: 0 25px;          
   box-sizing: border-box; 
}
.marquee-container {
  overflow: hidden; 
  display: flex;
  width: 100%;
}

.marquee-track {
    padding: 40px;
  display: flex;
  white-space: nowrap; 
  animation: scrolling 20s linear infinite; 
}

.marquee-track img {
  
  margin: 0 10px; 
  height: 80px; 
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Moves the track by the full width of one set */
  }
}

.container::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
  z-index: 1;
  
}
.container {
  position: relative; 
  text-align: center;
  color: white; 
  
  
  width: 100%;
  height: 65vh;
  
  
}
.container .image-slider{

    
 width: 100%;
  height: 100%;
  overflow: hidden;
    
}
.container .image-slider .img-track{
    
    
    display: flex;
  height: 100%;
  transition: transform 2s ease-in-out;

}
.container .image-slider .img-track .slide{
    width: 100%;
    padding: 0;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.container .image-content{
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  top:25%;
  text-align: center;

  gap: 20px;
  padding: 0 20px;
}



.image-content .image-heading {
    width:25%;
    
    


}
.image-content .image-heading h{
    font-size: 36px;
    font-weight: 700;
    line-height: 21px;
}
.image-content .image-text{
    width:40%;
    
   
}
.container .image-buttons{
    position: absolute;
  inset: 0;
  z-index: 2;
  display:flex;
  justify-content: center;
  
    gap:20px;
    height: 40px;
    top:65%;
    align-items: center;
    


  


}

.image-buttons .shop-now{
   padding: 10px 16px;
    border:2px solid transparent;
    color:#FFFFFF;
    background:#543421;
    display: inline-block;
   
    
    
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
   
    border-radius: 20px;
    font-feature-settings: 'dlig' on;
    text-overflow: ellipsis;
    transition: transform .3s ease;
    
    


}

.image-buttons .learn-more{
    padding: 10px 16px;
    border:2px solid transparent;
    font-weight: 700;
    
    border-radius: 20px;
    background:black;
    font-family: "Plus Jakarta Sans";
    font-feature-settings: 'dlig' on;
    text-overflow: ellipsis;
    color: #1C170D;
    background:#F5F0E5 ;
    display: inline-block;
    transition: transform .3s ease;
    

}
.image-buttons .shop-now:hover{
    transform: translateY(-4px);
    
   
    
}
.image-buttons .learn-more:hover{
     transform: translateY(-4px);

}
.collection{
    padding: 50px 0 100px;
    background: linear-gradient(180deg, var(--bg-primary, #FDF0E0) 0%, #F6CFB8 99.38%);;
}

.collection .collection-heading{
    padding:51px;
    text-align: center;
    color: #B27A59;
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: "Kaisei Decol";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; 

}

.collection-content .collection-images{
    display: flex;
    flex-wrap: wrap;
    padding: 120px;
    justify-content: center;
     gap:100px;
}


















